<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=`${user.name}-${measure.date.toLocaleDateString()}`%></title>
    <link rel="stylesheet" href="\js\asd\bootstrap.min.css">
    <link rel="stylesheet" href="\js\asd\style.css">
    <script src="\js\asd\bootstrap.min.js"></script>
</head>
<body>
    <form action=<%=`/${user._id}/${measure._id}`%> method="POST">
        <label for="weight">Weight</label><br>
        <input type="number" step="0.01" name="weight" id="weight" value=<%=`${measure.weight}` %> required><label>kg</label><br>
        <label for="waist">Waist diameter</label><br>
        <input type="number" name="waist" step="0.01" id="waist" value=<%=`${measure.waist}`%> required><label>cm</label><br>
        <label for="hip">Hip diameter</label><br>
        <input type="number" name="hip" step="0.01" value=<%=`${measure.hip}`%> id="hip" required><label>cm</label><br>
        <label for="chest">Chest diameter</label><br>
        <input type="number" name="chest" step="0.01" value=<%=`${measure.chest}`%> id="chest" required><label>cm</label><br>
        <label for="rightArm">Right arm diameter</label><br>
        <input type="number" step="0.01" value=<%=`${measure.rightArm}`%> name="rightArm" id="rightArm" required><label>cm</label><br>
        <label for="rightThigh">Right thigh diameter</label><br>
        <input type="number" name="rightThigh" value=<%=`${measure.rightThigh}`%> step="0.01" id="rightThigh" required><label>cm</label><br>
        <label for="leftArm">Left arm diameter</label><br>
        <input type="number" step="0.01" name="leftArm" id="leftArm" value=<%=`${measure.leftArm}`%> required><label>cm</label><br>
        <label for="leftThigh">Left thigh diameter</label><br>
        <input type="number" step="0.01" name="leftThigh" id="leftThigh" value=<%=`${measure.leftThigh}`%> required><label>cm</label><br>
    <br><button>Submit</button>
    </form>
</body>
</html>